
/* Importing Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');

/* Nav Bar */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    z-index: 100;
    /* position: fixed;
    width: 90%;
    align-self: center; */
}


.navItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navItem a {
    text-decoration: none;
    color: #000000;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
}

.navItem a img {
    height: 100%;
    width: 100%;
}
.navItem a:hover {
    color: #ff0000;
}

/* Home Page */

.homeDiv {
    background-color: #DCD260;
}

.homeTextContainer {
    padding-top: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    z-index: 100;
    padding-left: 2%;
    padding-bottom: 27%;
}

.homeText {
    font-size: 6em;
    font-family: 'Overlock SC', cursive;
    color: #000000;
    margin:0;
    width: 100%;
    z-index: 100;
}

#homeText1 {
    text-align: left;
    margin: 0;
    line-height: 0.8em;
}

#homeText2 {
    text-align: center;
    margin: 0;
    line-height: 0.8em;
}

#homeText3 {
    text-align: right;
    margin: 0;
    font-size: 1.2em;
    line-height: 0.8em;
}

.homeImageContainer {
    top: 17%;
    z-index: revert-layer;
    position: absolute;
    overflow: hidden;
    left:30%;
}

.homeImage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

/* About Page */

.aboutDiv {
    background-image: url("/woodBackground.png");
    margin-top: 0;
    background-size: cover;
    background-position: top;
}

.heritageTitleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.heritageTitle {
    font-size: 4em;
    font-family: 'Overlock SC', cursive;
    color: #000000;
    margin:0;
    width: 100%;
    text-align: center;
    z-index: 100;
    padding-top: 5%;
    text-shadow: 2px 2px #000000;
}

.heritageTextDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.heritageText {
    font-size: 2em;
    font-family: 'Overlock SC', cursive;
    color: #000000;
    margin:0;
    width: 70%;
    text-align: center;
    z-index: 100;
    padding-top: 5%;
    padding-bottom: 5%;
    text-shadow: 2px 2px #000000;
}


.heritageImage {
    max-width: 100%;
    max-height: 40%;
    overflow: hidden;
    object-fit: scale-down;
}

.ownersTitleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.ownersTitleText {
    font-size: 4em;
    font-family: 'Overlock SC', cursive;
    color: #FFFFFF;
    margin:0;
    width: 100%;
    text-align: center;
    z-index: 100;
    padding-top: 5%;
    text-align: center;
    text-shadow: 2px 2px #FFFFFF;
}

.ownersImageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding-left: 5%;
    padding-top: 7%;
}

.ownersImageDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}
.ownersImage {
    aspect-ratio: 1/1;
    max-width: 100%;
}

.ownersName {
    font-size: 2em;
    font-family: 'Overlock SC', cursive;
    color: #000000;
    margin:0;
    width: 100%;
    text-align: center;
    z-index: 100;
    padding-top: 5%;
    text-align: center;
    text-shadow: 2px 2px #000000;
}

.quoteTextDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.quoteText {
    font-size: 3em;
    font-family: 'Overlock SC', cursive;
    color: #000000;
    margin:0;
    width: 70%;
    text-align: center;
    z-index: 100;
    padding-top: 5%;
    text-shadow: 2px 2px #000000;
}

.quoteAuthorDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    width: 80%;
}

.quoteAuthorText {
    font-size: 3em;
    font-family: 'Overlock SC', cursive;
    color: #000000;
    margin:0;
    z-index: 100;
    padding-top: 2%;
    text-shadow: 2px 2px #000000;
}


/* Menu Page */

.menuDiv {
    background-image: url("/woodBackground.png");
    margin-top: 0;
    background-size: cover;
    background-position: top;
}

.menuTitleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.menuTitle {
    font-size: 4em;
    font-family: 'Overlock SC', cursive;
    color: #000000;
    margin:0;
    width: 100%;
    text-align: center;
    z-index: 100;
    padding-top: 5%;
    text-shadow: 2px 2px #000000;
}

/* Gallery Page */

.galleryDiv {
    background-image: url("/woodBackground.png");
    margin-top: 0;
    background-size: cover;
    background-position: top;
}

.galleryTitleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.galleryTitle {
    font-size: 4em;
    font-family: 'Overlock SC', cursive;
    color: #000000;
    margin:0;
    width: 100%;
    text-align: center;
    z-index: 100;
    padding-top: 5%;
    text-shadow: 2px 2px #000000;
}

.galleryImagesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    padding-left: 10%;
    padding-top: 7%;
}

.galleryImagesRight,
.galleryImagesLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.galleryImage {
    max-width: 100%;
    max-height: 50%;
    overflow: hidden;
    object-fit: scale-down;
}

/* Hours Page */

.hoursDiv {
    background-image: url("/woodBackground.png");
    margin-top: 0;
    background-size: cover;
    background-position: top;
}

.hoursTitleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.hoursTitle {
    font-size: 4em;
    font-family: 'Overlock SC', cursive;
    color: #000000;
    margin:0;
    width: 100%;
    text-align: center;
    z-index: 100;
    padding-top: 5%;
    text-shadow: 2px 2px #000000;
}

